
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myPartidoLabel" translate="ligabaloncestoApp.partido.home.createOrEditLabel">Create or edit a Partido</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="partido.id" readonly>
        </div>

        <div class="form-group">
            <label translate="ligabaloncestoApp.partido.localidad" for="field_localidad">Localidad</label>
            <input type="text" class="form-control" name="localidad" id="field_localidad"
                    ng-model="partido.localidad"
                    >

        </div>
        <div class="form-group">
            <label translate="ligabaloncestoApp.partido.arbitro" for="field_arbitro">arbitro</label>
            
            <select class="form-control" id="field_arbitro" name="arbitro" ng-model="partido.arbitro" ng-options="arbitro as arbitro.id for arbitro in arbitros track by arbitro.id">
                <option value=""></option>
            </select>
            
        </div>
        <div class="form-group">
            <label translate="ligabaloncestoApp.partido.equipoLocal" for="field_equipoLocal">equipoLocal</label>
            
            <select class="form-control" id="field_equipoLocal" name="equipoLocal" ng-model="partido.equipoLocal" ng-options="equipo as equipo.id for equipo in equipos track by equipo.id">
                <option value=""></option>
            </select>
            
        </div>
        <div class="form-group">
            <label translate="ligabaloncestoApp.partido.equipoVisitante" for="field_equipoVisitante">equipoVisitante</label>
            
            <select class="form-control" id="field_equipoVisitante" name="equipoVisitante" ng-model="partido.equipoVisitante" ng-options="equipo as equipo.id for equipo in equipos track by equipo.id">
                <option value=""></option>
            </select>
            
        </div>
        <div class="form-group">
            <label translate="ligabaloncestoApp.partido.temporada" for="field_temporada">temporada</label>
            
            <select class="form-control" id="field_temporada" name="temporada" ng-model="partido.temporada" ng-options="temporada as temporada.id for temporada in temporadas track by temporada.id">
                <option value=""></option>
            </select>
            
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
